doctype html
html(lang=lang)
  head
    include /pug/page-head.pug
  body
    include /pug/page-body-top.pug
    .content.single-image
      .image-container
        img(src=imgPath + nr + imgSlugS srcset=imgPath + nr + imgSlugHD + ' 2x' width=imgWidth height=imgHeight alt=imgAlt)
      .image-info
        span #{date}
        h2 #{bodyTitle}
        .download-area
          select.dropdown
            option(value=imgPath + nr + imgSlugHD) HD (1920x1200)
            option(value=imgPath + nr + imgSlug4k) 4k (3840x2400)
            option(value=imgPath + nr + imgSlug5k) 5k (5120x3200)
            option(value=imgPath + nr + imgSlug8k) 8k (7680x4800)
          a#download-link-1.wallpaper-button(href=imgPath + nr + imgSlugHD download) Download Wallpaper
    include /pug/page-body-bottom.pug
    include /pug/page-scripts.pug